body {
    margin: auto;
    padding:200px; 
    height: 50%;
    background-color: rgb(70, 156, 196);
    
} 
.gorengan {
    margin: auto;
    display: flex;
    border: 1px solid;
    border-color:black;
    justify-content: center;
    height: 50%;
    width: 60%;
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    

}

.gorengan1 {
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid;
    width: 30%;
    background-color: rgb(178, 212, 24);
    

}

.gorengan2 {
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid;
    width: 30%;
    background-color: rgb(178, 212, 24);

}

h3:hover {
    background-color:	#38adb1;
    transition: all 0.1s ease-in-out;
    padding: 2px;
    border-radius:7px;
}
